.b1{
    border: 3px solid black;
}
.b2{
    border-width: 3px;
    border-style: solid;
    border-color: red;
}
.b3{
    border-top-width: 3px;
    border-right-width: 4px;
    border-bottom-width: 5px;
    border-left-width: 6px;
    border-top-style: double;
    border-right-style: dashed;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-top-color: #000;
    border-right-color: aqua;
    border-bottom-color: blue;
    border-left-color: red;
}
.b4{
    border-width: 3px;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
}
.b4{
    margin: 50px 60px 80px 100px;
}
.absl{
    position: relative;
}
img{
    width: 100%;
    height: auto;
}
.topleft{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    color: white;
}
.topright{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 20px;
    color: white;
}
.centered{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}
.bottomleft{
    position: absolute;
    top: 428px;
    left: 16px;
    font-size: 20px;
    color: white;
}
.bottomright{
    position: absolute;
    top: 428px;
    right: 16px;
    font-size: 20px;
    color: white;
}

.flex-container{
    background-color: DodgerBlue;
    display: flex;
    flex-wrap: wrap;
}
.flex-container  div{
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    background-color: #f1f1f1;
}
